#header-home {
  background-image: url(../images/pattern.jpg);
  height: 100vh;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
footer {
  background-color: #024059;
  padding: 15px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
#copyrights {
  color: white;
}
footer p {
  margin: 0;
}
#socials li {
  list-style-type: none;
  display: inline-block;
  font-size: 20px;
  padding: 0 5px;
}
#socials ul {
  margin: 0;
  padding-left: 0;
}
#socials li a {
  text-decoration: none;
  color: white;
}
#socials {
  margin-left: auto;
}
.menu {
  flex: 1;
}
.menu a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.menu li {
  display: inline-block;
  padding: 0 10px;
}
.menu ul {
  margin: 0;
  padding: 0;
}

#search-cart ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: inline-block;
}
#search-cart li a {
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
  padding: 0 5px;
}
#search-cart li {
  display: inline-block;
}
#search-cart {
  flex: 1;
  text-align: right;
}
#top-header {
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.active {
  font-weight: bold;
}

.center-content {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.container-gallery {
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.container-gallery div {
  text-align: center;
  margin-top: 120px;
}
