header {
  background-image: url(../images/pattern.jpg);
}

.home-header {
  min-height: 100vh;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}
footer {
  background-color: #024059;
  padding: 15px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.copyrights {
  color: white;
}
footer p {
  margin: 0;
}
.socials li {
  list-style-type: none;
  display: inline-block;
  font-size: 20px;
  padding: 0 5px;
}
.socials ul {
  margin: 0;
  padding-left: 0;
}
.socials li a {
  text-decoration: none;
  color: white;
}
.socials {
  margin-left: auto;
}
.menu {
  flex: 1;
}
.menu a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}
.menu li {
  display: inline-block;
  padding: 0 10px;
}
.menu ul {
  margin: 0;
  padding: 0;
}
.logo {
  padding-bottom: 10px;
}
.search-cart ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: inline-block;
}
.search-cart li a {
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-size: 20px;
  padding: 0 5px;
}
.search-cart li {
  display: inline-block;
}
.search-cart {
  flex: 1;
  text-align: right;
}
.top-header {
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.active {
  font-weight: bold;
}

.center-content {
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}
.container-gallery {
  margin-top: 120px;
  margin-bottom: 30px;
  margin-top: 0px;
}
.row {
  display: flex;
  gap: 10px;
}
.vertical-image {
  flex: 1;
  height: 460px;
  padding: 10px;
  position: relative;
}
.horizontal-image {
  flex: 2;
  height: 460px;
  padding: 10px;
  position: relative;
}
.row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page-title {
  font-family: "Roboto Slab", serif;
  color: #024059;
  font-size: 32px;
  margin: 0;
}
.page-shop .page-title,
.page-home .page-title {
  margin-bottom: 30px;
}

.container-margin {
  margin: 50px 0;
}
.vertical-image a,
.horizontal-image a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.welcome-container {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  min-height: calc(100vh - 141px);
}
.welcome-image {
  flex: 2;
}

.welcome-image img {
  width: 100%;
}
.welcome-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-text {
  color: white;
  font-family: "Roboto Slab", serif;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.welcome-text span {
  display: block;
}

.welcome-button {
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border: 3px solid white;
  text-transform: uppercase;
  color: white;
  font-size: 22px;
  padding: 10px 55px;
  border-radius: 10px;
  text-decoration: none;
}

.welcome-button:hover {
  background-color: white;
  color: #024059;
}

.shop-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.shop-item {
  background-color: #f1f1f1;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  flex-grow: 1;
  width: calc(33.3333% - 10px);
  text-decoration: none;
  transition: background-color 200ms ease;
}

.shop-item:hover {
  background-color: #d5d5d5;
}
.image-size {
  width: 100%;
  max-width: 175px;
}

.item-title,
.item-price {
  font-family: "Roboto", sans-serif;
  margin: 0%;
  padding-top: 5px;
}
.item-title {
  font-size: 20px;
  color: #6e6e6e;
  margin-top: 50px;
}
.item-price {
  font-size: 16px;
  color: black;
}

/* RESPONSIVE RULES */

@media only screen and (max-width: 1210px) {
  .page-title {
    text-align: center;
  }
  .shop-items {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 12110px) {
  .top-header {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media only screen and (max-width: 1030px) {
  .welcome-image {
    flex: 1;
    padding: 10px;
  }
}
@media only screen and (max-width: 1030px) {
  .top-header {
    flex-direction: column;
  }
  .menu {
    order: 2;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .logo {
    order: 1;
  }
  .search-cart {
    order: 3;
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 920px) {
  .welcome-container {
    flex-direction: column;
    min-height: calc(100vh - 204px);
    padding-top: 40px;
  }
  .welcome-image {
    flex: none;
    padding: 0 20px;
  }
  .welcome-right {
    flex: none;
  }
  .categories-home h2 {
    text-align: center;
  }
  .row {
    display: block;
  }
  .vertical-image,
  .horizontal-image {
    height: 450px;
    margin: 0 20px;
  }
  .page-title {
    text-align: center;
  }
  .shop-item {
    width: calc(50% - 10px);
  }
}
@media only screen and (max-width: 620px) {
  .shop-item {
    width: calc(100% - 10px);
  }
  .shop-items {
    padding: 0 30px;
  }
}
@media only screen and (max-width: 400px) {
  .menu li {
    padding: 0 6px;
  }
  .welcome-text {
    font-size: 24px;
  }
  .vertical-image,
  .horizontal-image {
    height: 300px;
    margin: 0 20px;
  }
  .socials {
    text-align: center;
  }

  .copyrights {
    text-align: center;
    margin-bottom: 10px;
  }
  footer {
    display: block;
  }
}
